<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 lt-ie9"><![endif]-->
<!--[if IE 9]><html class="no-js ie9 lt-ie10"><![endif]-->
<html class="no-js">
<head>
  <meta charset="utf-8" />
  <title>Vue.js File Upload Component</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <!-- <link rel="stylesheet" href="css/style.css" media="screen" /> -->
  <style type="text/css" media="screen">
    .progress-bar {
      opacity: 1;
      height: 2px;
      margin: 0.4em 0;
      width: 0;
      background: green;
    }
  </style>
</head>
<body>
  <div class="container" id="app">
    <!-- template for the component, not rendered -->
    <template id="file-upload">
      <!-- nice classes for styling children -->
      <div class="file-input">
        <input class="file-input-input" type="file" name="{{ name }}" id="{{ name }}" accept="{{ accept }}" v-on:click="fileInputClick" v-on:change="fileInputChange" multiple="{{ multiple }}">
        <button type="button" class="file-input-button" v-on:click="fileUpload">Upload</button>
      </div>
    </template>
    <!-- only show the menu when ready -->
    <ul v-show="uploadedFiles.length > 0">
      <!-- loop through the completed files -->
      <li v-for="file in uploadedFiles">Name: <em>{{ file.name }}</em> Size: <em>{{ file.size | prettyBytes }}</em></li>
    </ul>
    <!-- only show when ready, fileProgress is a percent -->
    <div class="progress-bar" style="width: {{ fileProgress }}%" v-show="fileProgress > 0" ></div>
    <!-- message for all uploads completing -->
    <p v-if="allFilesUploaded"><strong>All Files Uploaded</strong></p>
    <!-- multiple files usage -->
    <file-upload name="myFile" action="upload.php" multiple></file-upload>
    <!-- usage for single files -->
    <file-upload name="anotherFile" action="upload.php"></file-upload>
  </div>
  <script src="http://cdn.jsdelivr.net/vue/1.0.10/vue.min.js"></script>
  <script src="js/vue.file-upload.js"></script>
  <script src="js/vue.pretty-bytes.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
